body{
    font-family: 'Ubuntu', sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
}
.start{
    background-color: black;
}
.navbar{
    box-shadow: 0px 2px rgb(233, 228, 228);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    margin-left: 10px;
    background-color: black;
}
.navbar ul{
    overflow: auto;
    display: flex;
}
.navbar ul li{
    list-style: none;
    margin: 2px 15px;
    font-size: xx-large;
} 
.navbar li a{
    font-family: "Lato", sans-serif;
    font-weight: 900;
    padding: 3px 3px;
    font-size: 15px;
    text-decoration: none;
    color: white;
}
.hover ul li a{
    padding: 3px 3px;
    font-size: 22px;
    color: white;
    font-family: "Dancing Script", cursive;
    font-weight: 800;
    margin-right: 70px;
}
.hover:hover{
    padding: 3px 3px;
    font-size: 15px;
    text-decoration: none;
    color: rgb(63, 89, 169);
    transform: scale(1.1);
}
.left-down{
    margin-bottom: 200px;
    margin: 40px;
}
.sign h1{
    margin: 48px;
    font-size: 25px;
    font-variant: small-caps;
    margin-left: 22px;
    
}
.sign h2{
    margin: 20px;
    font-size: 25px;
    margin-top: -39px;
    text-align: left;
    font-variant: small-caps;
}
.last1{
    padding-left: 320px;
    margin-top: 50px;
    
}
.last1 h3{
    padding-left: 40px;
    font-size: 14px;
    font-weight: 800;
    margin-top: -215px;
    font-size: 20px;
}
.last1 ul li{
    list-style: none;
}
.last1 ul li a{
    color: rgb(200, 200, 200);
    text-decoration: none;
    font-size: 14px;
    font-weight: 650;
}
.last2 h3{
    padding-left: 40px;
    font-size: 14px;
    font-weight: 800;
    margin-top: -103px;
    font-size: 20px;
    margin-left: 520px;
}
.last2 ul li{
    list-style: none;
    text-align: left;
    margin-left: 520px;
}
.last2 ul li a{
    color: rgb(200, 200, 200);
    text-decoration: none;
    font-size: 14px;
    font-weight: 650;
}
.last3 h3{
    padding-left: 40px;
    font-size: 14px;
    font-weight: 800;
    margin-top: -205px;
    font-size: 20px;
    margin-right:255px;
    text-align: right;
}
.last3 ul li{
    list-style: none;
    text-align: left;
    margin-left:850px;

}
.last3 ul li a{
    color: rgb(200, 200, 200);
    text-decoration: none;
    font-size: 14px;
    font-weight: 650;
}
.last4 h3{
    padding-left: 40px;
    font-size: 14px;
    font-weight: 800;
    margin-top: -125px;
    font-size: 20px;
    margin-right:43px;
    text-align: right;
}
.last4 h1{
    padding-left: 40px;
    font-size: 14px;
    font-weight: 800;
    margin-top: -25px;
    font-size: 20px;
    margin-right:104px;
    text-align: right;
}
.last4 ul li{
    list-style: none;
    text-align: left;
    margin-left:1020px;
}
.last4 ul li a{
    color: rgb(200, 200, 200);
    text-decoration: none;
    font-size: 14px;
    font-weight: 650;
}
.email-container{
    display: block;
    align-items: flex-start;
    margin: 19px;
    margin-top: 130px;
}
input[type="email"]{
    padding: 10px;
    font-size: 16px;
    border: 0px solid black;
    border-radius: 4px;
    margin-right: 10px;
    flex-grow: 1;
}
.email-button {
    background-color:white;
    color: black;
    border: 0px;
    padding: 13px;
    border-radius: 4px;
    margin-left:-11px;
    cursor: pointer;
}
.who{
    text-align: left;
    margin: 20px;
    margin-top: 70px;
}
.who::before{
    content: "";
    display: flex;
    border-top: 1px solid white;
}
.who h1{
    margin-left: 25px;
}
.who::after {
    content: "";
    display: flex;
    border-bottom: 1px solid black;
    margin-top: 8px;
    
}
#showContentBtn{
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 40px;
    margin-bottom: -2810px;
    margin-right: 25px;
}
.content {
    text-align: left;
    margin: 60px;
    margin-top: -8px;
}
.line::before{
    content: "";
    display: flex;
    border-top: 1px solid white;
}


#showContentBtn:hover {
    background-color: white;
}

.bottom{
    display: flex;
    justify-content: space-between;
    margin: 25px;
    background-color: black;
    size: 2px;
}
.bottom1{
    display: flex;
    margin-top: -70px;
    justify-content: space-between;
    margin: 25px;
    background-color: black;
    size: 2px;
}
.bottom1 p{
    margin-right: 730px;
    margin-top: 1px;
    margin-bottom: 20px;
}
.footer{
    margin-top: 20px;
    background-color: black;
    color: white;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: bolder;
}

.containers {
    width: 100%; 
    overflow-x: auto; 
    white-space: nowrap; 
    scrollbar-width: thin;
    scrollbar-color: black; 
    margin-top: 60px; 
}

.box-container {
        display: inline-flex; 
}
    
    .box {
        width: 200px;
        height: 250px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin: 20px;
        padding: 20px;
        text-align: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
.box:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}
    
    .box img {
        width: 100%;
        border-radius: 8px;
    }
    
    .box h2 {
        margin-top: 10px;
    }
    
    .box p {
        margin-top: 10px;
    }
    
    .scroll-left,
    .scroll-right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 10px;
        background-color: #ccc;
        border: none;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .scroll-left {
        left: 10px;
    }
    
    .scroll-right {
        right: 10px;
    }
    .containers::-webkit-scrollbar {
        width: 10px; 
      }
      .containers::-webkit-scrollbar-thumb {
        background-color: white;
        border-radius: 5px;
      }

      .containers::-webkit-scrollbar-track {
        background-color: transparent;
        height: 5px; 
      }

.box h2{
    margin-top: -30px;
    color: seagreen;
    font-family: "Prata", serif;
    font-weight: 500;
}
    
.types{
    font-family: "Source Serif 4", serif;
    font-weight: 600;
    text-align: left;
    color: black;
    font-size: 30px;
    margin-left: 55px;
}
.types h2 a{
    color: black;
    transition: transform 0.3s ease;
}
h2{
    text-align: right;
    font-size: medium;
    margin-top: -65px;
    margin-right: 80px;   
}

#product1{
    text-align: center;
  }
  #product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
  }
  
  
  #product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid black;
    border-radius:25px ;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
  
  }
  #product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
  }
  #product1 .pro img{
    width: 100%;
    border-radius:20px ;
  }
  #product1 .pro .image-wrapper{
    position: relative;
  }
  #product1 .pro .image-hover{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.1s ;
  }
  #product1 .pro .image-hover:hover {
    opacity: 1;
  }
  
  #product1 .pro .des{
    text-align: start;
    padding: 10px 0;
    font-family: "Source Serif 4", serif;
  
  }
  #product1 .pro .des h4{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
  
  }
  #product1 .pro .des i{
    font-size: 12px;
    color: rgb(255 ,181 ,23);
  }
  #product1 .pro .des h3{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
  }
  .box h2{
    color: white;
    font-family: "Source Serif 4", serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: -35px;
    text-align: center;
  }
  #product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
.allinone{
    background-color: white;
}

.section-p1{
    width: 80%; margin-left: 135px;
}

.img-m{
    height: 500px;width: 1190px;margin-top: 40px; border-radius: 50px; margin-left: 40px;
}
.img-main h1{
    font-family:Prata, serif; 
    font-size: 50px;
    text-align: center;
}

.img-h1 h1{
    font-family:Prata, serif;
    font-size: 21px;
    text-align: center;
}

#product1{
    text-align: center;
  }
  #product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
  }
  
  
  #product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius:25px ;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
  
  }
  #product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
  }
  #product1 .pro img{
    width: 100%;
    border-radius:20px ;
  }
  #product1 .pro .image-wrapper{
    position: relative;
  }
  #product1 .pro .image-hover{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.1s ;
  }
  #product1 .pro .image-hover:hover {
    opacity: 1;
  }
  
  #product1 .pro .des{
    text-align: start;
    padding: 10px 0;
  
  }
  #product1 .pro .des h4{
    padding-top: 7px;
    color: white;
    font-size: 14px;
  
  }
  #product1 .pro .des i{
    font-size: 12px;
    color: rgb(255 ,181 ,23);
  }
  #product1 .pro .des h3{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
  }
  #product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
  }

.box{
    text-decoration: none;
}
.types h1{
    font-family: Source Serif 4, serif; 
    font-weight: 700; 
    text-align: center;
    color: white;
}
.hii img{
    width: 95%;
    height: 650px;
    margin-top: -40px;
}
  